---
import DefaultLayout from '@/f/layouts/DefaultLayout.astro';
import { getStaticPaths } from '@/f/utils/langs';
import { messages } from "@/f/config/messageConfig";
export { getStaticPaths }; 

const { lang } = Astro.params;
const t = ((messages.notFoundPage as any)[lang]) ?? {};
---

<DefaultLayout title={t.title}>
  <section>
    <h1>{t.heading}</h1>
    <p class="size-20">{t.description}</p>
    <a class="button color-secondary" href="/">{t.back}</a>
  </section>
</DefaultLayout>
