---
import PictureImage from "@/f/components/PictureImage.astro";
---
<a class="h-6 w-6 text-gray-600 group-focus:text-gray-800" href="/">
  <PictureImage src="/assets/img/phis_logo.svg" alt="phis dashboard" />
</a>