---
const { selectedMethod } = Astro.props;
import { messages } from "@/f/config/messageConfig";
import { getLang } from "@/f/utils/lang";

const lang = getLang();
const t = messages.paymentMethodList[lang];

const paymentOptions = [
  {
    id: "paypal",
    label: t.paypal,
    description: t.paypalDescription
  }
];
---

<section class="mb-6">
  <h2 class="font-bold">{msg.postpayCredit}</h2>
  <ul class="mt-2 space-y-4">
    {paymentOptions.map(opt => (
      <li>
        <label class="flex items-start gap-2">
          <input type="radio" name="payment" value={opt.id} checked={selectedMethod === opt.id} />
          <div>
            <p class="font-semibold">{opt.label}</p>
            <p class="text-sm whitespace-pre-line">{opt.description}</p>
          </div>
        </label>
      </li>
    ))}
  </ul>
</section>
