---
import AddressList from "@/f/components/AddressList.astro";
import { messages } from "@/f/config/messageConfig";
import { getLang } from "@/f/utils/lang";
const lang = getLang();
const t = messages.addressSettingsPage[lang];
const apiUrl = import.meta.env.PUBLIC_API_BASE_URL;

let profile = [];

try {
  const res = await fetch(`${apiUrl}/api/profile`);
  if (!res.ok) {
    throw new Error(`APIсѓесЃЕсЃ╝: ${res.status}\n`);
  }
  profile = await res.json();
} catch (err) {
  console.error("­ЪћЦ API fetch тц▒ТЋЌ:", err);
}
---

{Array.isArray(profile) && profile.length > 0 ? (
  <AddressList profile={profile} lang={lang} />
) : (
  <p>уЎ╗жї▓сЂЋсѓїсЂдсЂёсЂЙсЂЏсѓЊсђѓ</p>
)}
