---
// frontend/src/pages/settings/profile.astro
import ProfileForm from "@/f/components/ProfileForm.astro";
import { messages } from "@/f/config/messageConfig";
import { useLang } from "@/f/utils/LangProvider";
const lang = useLang();
const t = messages.profilePage[lang];
---

<h1 class="text-xl font-bold">{t.title}</h1>
<ProfileForm />