---
import DefaultLayout from '@/f/layouts/DefaultLayout.astro'
import { messages } from "@/f/config/messageConfig";
const lang = "ja";
const t = messages.notFoundPage[lang];
---

<DefaultLayout title={t.title}>
  <section>
    <h1>{t.heading}</h1><br>
    <p class="size-20">{t.description}</p><br>
    <a class="button color-secondary" href="/">{t.back}</a>
  </section>
</DefaultLayout>
