---
import LoginLayout from '../layouts/LoginLayout.astro'
import LoginForm from '../components/LoginForm.astro'
import { Notification } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<LoginLayout title="Login">
  <section class="bg-neutral-100">
    <div class="login grid grid-cols-1 md:!grid-cols-[550px_2fr]">
      <div class="login__inner animate-reveal min-h-screen flex flex-col justify-between gap-12 p-6 z-10 md:p-12 md:shadow-[0_0_40px_rgba(0,0,0,0.15)]">
        <div class="inner__brand flex items-center gap-4">
          <div class="bg-neutral-900 rounded-lg p-2">
            <img
              class="brand__logo rounded-lg max-w-[50px]"
              src="/astro-logo.svg"
              alt=""
            >
          </div>
          <div class="brand__text flex flex-col gap-0.5">
            <span class="font-bold text-[20px]">Dashboard</span>
          </div>
        </div>
        <div class="inner__form flex flex-col gap-8">
          <Notification>
            <Icon name="majesticons:information-circle-line" />
            <p class="w-full">Log in using <strong>admin@astro.demo</strong> and <strong>Astronaut570</strong>.</p>          
          </Notification>
          <div class="flex flex-col gap-4">
            <h1>Login</h1>
            <LoginForm />
          </div>
        </div>
        <div class="login__footer text-neutral-700 pb-6 md:pb-0">
          <p><em>Build fast dashboards, faster.</em></p>
        </div>
      </div>
      <div class="login__background hidden md:block bg-black bg-cover bg-center bg-no-repeat h-full-available" style="background-image: url('/login-background.webp');"></div>
    </div>
  </section>
</LoginLayout>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;
  @use '../assets/scss/base/size' as *;
  @use '../assets/scss/base/space' as *;
</style>
