---
import { Modal } from 'accessible-astro-components'
import DefaultLayout from '@/f/layouts/DefaultLayout.astro'
import EmptyState from '@/f/components/EmptyState.astro'
import { messages } from "@/f/config/messageConfig";

const lang = "__MSG_LANG__";
const t = ((messages.users as any)[lang]) ?? {};

---

<DefaultLayout title="Users">
  <section>
    <h1>{t.title}</h1><br>
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>{t.overview}</h2>
      <EmptyState>
        {t.emptyMessage}
      </EmptyState>
      <button id="modal-trigger" class="button color-secondary">{t.addButton}</button>
      <Modal
        triggerId="modal-trigger"
        title="Add user"
        closeText="Cancel"
      >
        <p>You can use this component to include a form that adds a new user to the list.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>
