---
import { Modal } from 'accessible-astro-components'
import DefaultLayout from '@/f/layouts/DefaultLayout.astro'
import EmptyState from '@/f/components/EmptyState.astro'
import { messages } from '@/f/config/messageConfig';

const lang = (Astro.url.searchParams.get('lang') ?? 'ja') as 'en' | 'ja';
const texts = messages.users[lang];
---

<DefaultLayout title="Users">
  <section>
    <h1>{texts.title}</h1><br>
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>{texts.overview}</h2>
      <EmptyState>
        {texts.emptyMessage}
      </EmptyState>
      <button id="modal-trigger" class="button color-secondary">{texts.addButton}</button>
      <Modal
        triggerId="modal-trigger"
        title="Add user"
        closeText="Cancel"
      >
        <p>You can use this component to include a form that adds a new user to the list.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>
