---
import '../../styles/maintenance.css';
---

<html>
  <head>
    <title>メンテナンス中</title>
  </head>
  <body>
    <div class="maintenance-container">
      <h1>メンテナンス中</h1>
      <p>現在、このページはメンテナンス中です。</p>
      <p>しばらくしてから再度アクセスしてください。</p>
    </div>
  </body>
</html>